<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--
        MyBatis 核 心 配 置 文 件 中 ， 标 签 的 顺 序 ：
        properties?,settings?,typeAliases?,typeHandlers?, objectFactory?,objectWrapperFactory?,
        reflectorFactory?, plugins?,environments?,databaseIdProvider?,mappers?
    -->

    <!--1. 引入properties文件，此后就可以在当前文件中使用 的方式访问 value-->
    <properties resource="jdbc.properties"/>
    
    <settings>
        <!-- 将下划线映射为驼峰-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>     <!--默认为false，true为开启延迟加载-->
        <!--按需加载--> 
        <setting name="aggressiveLazyLoading" value="false"/>   <!--默认为false，false为开启按需加载-->
    </settings>

    <!--2. 设置类型别名-->
    <typeAliases>
        <package name="com.lhc.mybatis.pojo"/>
    </typeAliases>

    <!--3. 配置连接数据库的环境-->
    <environments default="development">

        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>

    </environments>


    <!--4. 引入mybatis映射文件-->
    <mappers>
        <package name="com.lhc.mybatis.mapper"/>
    </mappers>

</configuration>